.jumbotron {
  background-color: palegoldenrod;
  color: black;
  margin-top: 50px;
  margin-bottom: 10px;
  padding-right: 0px;
  color: #000000; }

footer {
  padding: 10px 10px 0 10px;
  background-color: palegoldenrod;
  margin-top: 10px;
  margin-bottom: 0px;
  padding-right: 0px;
  color: #000000; }

.card-hotel {
  flex: 1 150px;
  margin-top: 10px;
  margin-bottom: 0px;
  padding-right: 0px;
  color: #000000; }

.btn-reserva {
  width: 100%;
  border-radius: 0px;
  margin-top: 10px;
  margin-bottom: 0px;
  padding-right: 0px;
  color: #ffffff; }

.btn-contacto {
  margin-left: 5px; }

.footer-address-icon {
  padding-right: 10px; }

.tab-content {
  padding-top: 10px; }
