$yellow: #FFFFFF;
$red: #C64E34;
$green: #7AD135;

$black: #000000;

$blue: #467bdfc9;

$paleGold: palegoldenrod;
@mixin margenes($top, $bottom, $color){
    margin-top: $top;
    margin-bottom: $bottom;
    padding-right:0px;
    color: $color ;
}
.jumbotron {
    background-color: $paleGold;
    color: black;
    @include margenes(50px, 10px, $black);
}

footer {
    padding: 10px 10px 0 10px;
    background-color: $paleGold;
    @include margenes(10px, 0px, $black);
}

.card-hotel {
    flex: 1 150px;
    @include margenes(10px, 0px, $black);
}

.btn-reserva {
    width: 100%;
    border-radius: 0px;
    @include margenes(10px, 0px, #ffffff);

}

.btn-contacto{
    margin-left: 5px;
}

.footer-address-icon {
    padding-right: 10px;
}

.tab-content {
    padding-top: 10px;
}